*.csproj
*.userprefs
*.meta
*.mat
MainProject/Temp/*
kopykat2/Library/*
MainProject/MainProject.userprefs
kopykat2/kopykat2.userprefs
.gitignore
kopykat2/Library/*
MainProject/obj/Debug/*
kopykat2/Library/*
Demo/NetworkDemo.exe
Demo/NetworkDemo_Data/*
Networking/Server Redistributable/*
Networking/Server SDK/*
*.orig
*.orig
/Windows_exe/KopyKatWindows_Data/output_log.txt
